.DS_Store
Old_CNN/data/
__pycache__/
CNN_RetrainAfterGurobi/data/
CNN_RetrainAfterGurobi/checkpoints/
CNN_RetrainAfterGurobi/checkpoints_inputs/
RAF_CNN_Restart/data/
RAF_CNN_Restart/checkpoints/
RAF_CNN_Restart/checkpoints_inputs/
RAF_CNN_correctVany/checkpoints/
RAF_CNN_correctVany/G_checkpoints/
RAF_CNN_correctVany/checkpoints_inputs/
RAF_CNN_correctVany/data/
